<!DOCTYPE html>
{% extends "sign_up/base.html" %}
  {% block body_block %}
    <div class="jumbotron">
      <h1 class="display-4">Welcome to Django Level Five!</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>If you want to sign up click below!</p>
      <a class="btn btn-primary btn-lg" href="{% url 'regist' %}" role="button">Sign Up!</a>
    </div>
  {% endblock %}
